@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body {
	font-family: Alef, Arial, Helvetica, sans-serif!important;
}
#content a:hover, #content a:focus, #content a:active {
    outline: 0 none;
}
.day h2 { font-size:90% }
.accordion-heading {
	background-color: #fae4dc;
}
.accordion-inner {
	background-color: #fcfcfc;
	border: 1px solid #fae4dc;
        border-top:none;
}
#footer {
        background-color:#eee;
	direction:ltr;
	text-align:center;
        padding-top:18px;
}
