      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top" role="nagivation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-collapse-menu">
              <!-- <span class="sr-only">Toggle navigation</span> -->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=".">m.No2Bio.org</a>
          </div>
          {{!
            navbar-resonsive-collapse and the style are voodoo to make the navbar scrollable
            See http://stackoverflow.com/questions/17561824/bootstrapfixed-nav-static-top-on-top-but-scrollable-nav-collapse#17580098
          }}
          <div id="top-collapse-menu" class="navbar-collapse collapse" style="overflow-y: scroll;max-height:400px">
            <ul class="nav navbar-nav">
              {{#items}}
                {{^ismenu}}
                  <li{{#active}} class="active"{{/active}}><a href="{{url}}">{{name}}</a></li>
                {{/ismenu}}
                {{#ismenu}}
                  <li class="dropdown{{#active}} active{{/active}}">
                      <a data-toggle="dropdown" href="#">{{name}}<b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">{{! wtf is that dlabel? }}
                        {{#items}}{{! assuming no nested submenus and categories }}
                          <li{{#active}} class="active"{{/active}}><a href="{{url}}">{{name}}</a></li>
                        {{/items}}
                      </ul>
                  </li>
                {{/ismenu}}
              {{/items}}
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a target="_blank" href="https://twitter.com/no2bio">טוויטר</a></li>
              <li><a target="_blank" href="https://facebook.com/no2bio">פייסוש</a></li>
              <li><a target="_blank" href="https://youtube.com/no2bioisrael">יוטיוב</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
