<!DOCTYPE html>
<html>
  <head>
    <title>m.No2Bio - {{title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.rtl.min.css" rel="stylesheet" media="screen">
  <style type="text/css">
  body { padding-top: 50px; }
  </style>
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap" dir="rtl">
      {{{menu}}}
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header text-center">
          <h2>{{title}}</h2>
        </div>
        <div class="row">
          <div class="col-8 col-offset-2">
            {{#thumbnail}}<a href="#" class="thumbnaili pull-right"><img src="{{.}}" alt=""></a>{{/thumbnail}}
            {{{content}}}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
<!--
    <script type="text/javascript" src="js/jquery.browser.js"></script>
    <script type="text/javascript" src="js/jquery.iframe-auto-height.plugin.js"></script>
    <script type="text/javascript">
      $(function() {
        $('iframe').iframeAutoHeight();
      });
    </script>
-->
  </body>
</html>

